<header>
    <div class="div-block menu-screen"><img src="{{ 'Storee-Logo.svg' | asset_url }}"
        alt="" class="menu-logo">
      <div class="container">
        <div class="w-layout-grid grid-menu-items"><a href="services.html"
            class="holder flex-center c-link w-inline-block">
            <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3d7" class="menu-heading dark">Services</h3>
          </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3d9-ac97d3d2" href="case-studies.html"
            class="holder flex-center c-link w-inline-block">
            <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3da" class="menu-heading dark">Case Studies</h3>
          </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3dc-ac97d3d2" href="about.html"
            class="holder flex-center c-link w-inline-block">
            <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3dd" class="menu-heading dark">Our Story</h3>
          </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3df-ac97d3d2" href="simple-page.html"
            class="holder flex-center c-link w-inline-block">
            <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e0" class="menu-heading dark">Sustainability</h3>
          </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3e2-ac97d3d2" href="contact-us.html"
            class="holder flex-center c-link w-inline-block">
            <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e3" class="menu-heading dark neg-margin">Contact Us</h3>
          </a></div>
      </div>
      <div class="flex flex-center margin"><a href="tel:+447549214421" class="link-block c-link w-inline-block">
          <div data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e7" class="text18 center white small15">+447549214421</div>
        </a>
        <div class="line small"></div><a href="mailto:hello@storeestudio.com" class="link-block c-link w-inline-block">
          <div data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3eb" class="text18 center white small15">
            hello@storeestudio.com</div>
        </a>
      </div>
    </div>
    <div class="nav-wrapper w-container">
      <div data-w-id="d1727d9e-aa56-484b-a808-090d74c5e252" class="navbar"><a
          data-w-id="d1727d9e-aa56-484b-a808-090d74c5e253" href="index.htm" aria-current="page"
          class="link-block c-link w-inline-block w--current"><img
            src="{{ 'Storee-Logo.svg' | asset_url }}" alt="" class="brand-img"></a>
        <div class="flex flex-center al-right"><a data-w-id="d1727d9e-aa56-484b-a808-090d74c5e256"
            href="contact-us.html" class="button c-link w-button">Contact Us</a>
          <div data-w-id="d1727d9e-aa56-484b-a808-090d74c5e258" class="menu c-link">
            <div data-w-id="d1727d9e-aa56-484b-a808-090d74c5e259" class="line-horizontal"></div>
            <div class="menu-text">Menu</div>
            <div data-w-id="d1727d9e-aa56-484b-a808-090d74c5e25c" class="line-horizontal"></div>
          </div>
        </div>
      </div>
      <div class="div-block menu-screen"><img src="{{ 'Storee-Logo.svg' | asset_url }}"
          alt="" class="menu-logo">
        <div class="container">
          <div class="w-layout-grid grid-menu-items"><a href="services.html"
              class="holder flex-center c-link w-inline-block">
              <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3d7" class="menu-heading dark">Services</h3>
            </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3d9-ac97d3d2" href="case-studies.html"
              class="holder flex-center c-link w-inline-block">
              <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3da" class="menu-heading dark">Case Studies</h3>
            </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3dc-ac97d3d2" href="about.html"
              class="holder flex-center c-link w-inline-block">
              <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3dd" class="menu-heading dark">Our Story</h3>
            </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3df-ac97d3d2" href="simple-page.html"
              class="holder flex-center c-link w-inline-block">
              <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e0" class="menu-heading dark">Sustainability</h3>
            </a><a id="w-node-_0ea25e3c-fbb8-b291-ce96-6321ac97d3e2-ac97d3d2" href="contact-us.html"
              class="holder flex-center c-link w-inline-block">
              <h3 data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e3" class="menu-heading dark neg-margin">Contact Us</h3>
            </a></div>
        </div>
        <div class="flex flex-center margin"><a href="tel:+447549214421" class="link-block c-link w-inline-block">
            <div data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3e7" class="text18 center white small15">+447549214421
            </div>
          </a>
          <div class="line small"></div><a href="mailto:hello@storeestudio.com"
            class="link-block c-link w-inline-block">
            <div data-w-id="0ea25e3c-fbb8-b291-ce96-6321ac97d3eb" class="text18 center white small15">
              hello@storeestudio.com</div>
          </a>
        </div>
      </div>
    </div>

</header>