<div class="section height-auto no-padding">
    <div class="w-dyn-list">
      <div role="list" class="w-dyn-items">
        <div role="listitem" class="w-dyn-item">
          <div data-w-id="593ce1d1-aa7d-aad0-8b93-c003698b4488" class="case-study-section">
            <div style="opacity:0" class="bg-color-holder">
              <div style="background-color:hsla(190.90909090909093, 20.75%, 79.22%, 1.00)" class="bg-color cms"></div>
            </div>
            <div class="container">
              <div class="w-layout-grid work-grid">
                <div class="left-col"><img alt="A girl reading a book in a bicycle shop"
                    src="5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project.jpg"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 480px, 95vw"
                    srcset="5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project-p-500.jpeg 500w, 5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project-p-800.jpeg 800w, 5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project-p-1080.jpeg 1080w, 5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project-p-1600.jpeg 1600w, 5e78c6fd424a857ea5c18591/5f433fca21e6016bdd7e2ca9_Wolf-Project.jpg 1802w"
                    class="work-img"></div>
                <div class="flex-center vert al-left">
                  <div style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="text16 white no-top-margin">WEBSITE DESIGN -
                    WEBSITE DEVELOPMENT - ONGOING SUPPORT</div>
                  <h2 style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="heading3 white">Wolf Project</h2><a
                    style="color:hsla(0, 0.00%, 0.00%, 1.00)" href="case-studies/the-wolf-project.html"
                    class="link-block c-link w-inline-block">
                    <div style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="text18 center white">Check it out    →</div>
                  </a>
                </div>
                <div class="huge-bg-text">The Wolf Project</div>
              </div>
            </div>
          </div>
        </div>
        <div role="listitem" class="w-dyn-item">
          <div data-w-id="593ce1d1-aa7d-aad0-8b93-c003698b4488" class="case-study-section">
            <div style="opacity:0" class="bg-color-holder">
              <div style="background-color:#dce4e8" class="bg-color cms"></div>
            </div>
            <div class="container">
              <div class="w-layout-grid work-grid">
                <div class="left-col"><img alt="A girl reading a book in a bicycle shop"
                    src="5e78c6fd424a857ea5c18591/5f478fcfb20b2540de89f8f4_Dashel-thumbnail.jpg"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 480px, 95vw"
                    srcset="5e78c6fd424a857ea5c18591/5f478fcfb20b2540de89f8f4_Dashel-thumbnail-p-800.jpeg 800w, 5e78c6fd424a857ea5c18591/5f478fcfb20b2540de89f8f4_Dashel-thumbnail-p-1080.jpeg 1080w, 5e78c6fd424a857ea5c18591/5f478fcfb20b2540de89f8f4_Dashel-thumbnail.jpg 1294w"
                    class="work-img"></div>
                <div class="flex-center vert al-left">
                  <div style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="text16 white no-top-margin">CUSTOM SHOPIFY
                    THEME, CREATIVE DIRECTION</div>
                  <h2 style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="heading3 white">Dashel</h2><a
                    style="color:hsla(0, 0.00%, 0.00%, 1.00)" href="case-studies/dashel.html"
                    class="link-block c-link w-inline-block">
                    <div style="color:hsla(0, 0.00%, 0.00%, 1.00)" class="text18 center white">Check it out    →</div>
                  </a>
                </div>
                <div class="huge-bg-text">Dashel</div>
              </div>
            </div>
          </div>
        </div>
        <div role="listitem" class="w-dyn-item">
          <div data-w-id="593ce1d1-aa7d-aad0-8b93-c003698b4488" class="case-study-section">
            <div style="opacity:0" class="bg-color-holder">
              <div style="background-color:#101010" class="bg-color cms"></div>
            </div>
            <div class="container">
              <div class="w-layout-grid work-grid">
                <div class="left-col"><img alt="A girl reading a book in a bicycle shop"
                    src="5e78c6fd424a857ea5c18591/5f4b85b7dd89270a08b00cc7_Ethnotek-Thumb2.jpg"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 480px, 95vw"
                    srcset="5e78c6fd424a857ea5c18591/5f4b85b7dd89270a08b00cc7_Ethnotek-Thumb2-p-500.jpeg 500w, 5e78c6fd424a857ea5c18591/5f4b85b7dd89270a08b00cc7_Ethnotek-Thumb2-p-1080.jpeg 1080w, 5e78c6fd424a857ea5c18591/5f4b85b7dd89270a08b00cc7_Ethnotek-Thumb2.jpg 1092w"
                    class="work-img"></div>
                <div class="flex-center vert al-left">
                  <div style="color:hsla(0, 0.00%, 100.00%, 1.00)" class="text16 white no-top-margin">WEBSITE REWARM -
                    CUSTOM SHOPIFY THEME</div>
                  <h2 style="color:hsla(0, 0.00%, 100.00%, 1.00)" class="heading3 white">Ethnotek</h2><a
                    style="color:hsla(0, 0.00%, 100.00%, 1.00)" href="case-studies/ethnotek.html"
                    class="link-block c-link w-inline-block">
                    <div style="color:hsla(0, 0.00%, 100.00%, 1.00)" class="text18 center white">Check it out    →
                    </div>
                  </a>
                </div>
                <div class="huge-bg-text">Ethnotek</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>