<div class="section _110vh">
    <div data-w-id="7f97adb2-6334-fe13-2ffd-f48007237dce" class="inner-hero-section">
      <div class="container">
        <div data-w-id="502039f1-58d7-ba9c-8c18-98fbe3daeea3" style="opacity:0" class="holder margin">
          <div class="container-2 w-container">
            <h1 class="heading1-home">We are an <br>eCommerce Studio<br></h1>
            <div class="text18 white">The Storytellers for Online Stores</div>
          </div>   
        </div> 
      </div>
      <div class="scroll-block">
        <div class="lottie-animation" data-w-id="d4fb01aa-42ad-6af6-fafc-394553c530c9" data-animation-type="lottie"
          data-src="https://uploads-ssl.webflow.com/5e669721cbb0937940bd12d8/5e6a0f94b1ae1f94051a252c_842-scroll.json"
          data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
          data-default-duration="1.45" data-duration="0"></div>
      </div>
    </div>
  </div> 