<div class="section height-auto no-padding top-padding">
    <div class="bg-color-holder hidden">
      <div class="bg-color white"></div>
    </div>
    <div class="w-layout-grid grid-2-col-1-75">
      <div class="holder">
        <div data-w-id="f798c868-728c-6de7-9573-e534ed9785a8" style="opacity:0" class="img-screens"></div>
      </div>
      <div class="flex-center vert al-left padding">
        <div class="text16 normal">Our clients are our friends and we love seeing them succeed. We work with you to
          unleash your brands story and bring a classy shopping experience to your clients. Our studio provides full
          Shopify training pre-launch and post-launch support, so we&#x27;re always by your side.</div>
      </div>
    </div>
  </div>