<div data-w-id="244242c9-b878-a25b-1e55-a80e11923212" class="section min100vh">
    <div style="opacity:0" class="bg-color-holder">
      <div class="bg-color white"></div>
    </div>
    <div class="inner-section">
      <div class="container">
        <div class="line"></div>
        <h2 data-w-id="6003cddd-9f2f-d9d5-8650-3fc07c975793" style="opacity:0" class="heading2 width430">We’ve helped
          companies around the world create meaningful shopping experiences:</h2>
        <div class="w-layout-grid clients-logo-grid">
          <div class="flex-center"><img
              src="5e669721cbb0937940bd12d8/5e66989c66d4d41f38be4c37_sega-logo-png-transparent.png" alt="Sega Logo"
              class="client-logo"></div>
          <div class="flex-center"><img
              src="5e669721cbb0937940bd12d8/5e66989ccbb0933f07bd1f5e_Hot_Futures_-_long_logo_-(1).png"
              alt="Hot Futures Logo" class="client-logo _30h"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5f42617154a6e4c8da4ce564_Ethnotek-Logo.png"
              width="250" alt="Ethnotek Backpacks" class="client-logo _40h"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5f425f96785e1d670c7faaba_caplait_logo_black.png"
              width="1014" sizes="(max-width: 479px) 100vw, 148.015625px" alt="Caplait Shoes"
              srcset="5e669721cbb0937940bd12d8/5f425f96785e1d670c7faaba_caplait_logo_black-p-500.png 500w, 5e669721cbb0937940bd12d8/5f425f96785e1d670c7faaba_caplait_logo_black-p-800.png 800w, 5e669721cbb0937940bd12d8/5f425f96785e1d670c7faaba_caplait_logo_black-p-1080.png 1080w, 5e669721cbb0937940bd12d8/5f425f96785e1d670c7faaba_caplait_logo_black.png 2028w"
              class="client-logo _30h"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5e66989c52519b80e20d5a74_Loskey%20logo.png"
              alt="Loskey Logo" class="client-logo"></div>
          <div class="flex-center"><img
              src="5e669721cbb0937940bd12d8/5f425caa098ed1e3a18478da_ezgif.com-webp-to-jpg.jpg" alt="Dashel Logo"
              class="client-logo"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5e66989b52519b10480d5a6e_Tadpole-logo-black.png"
              alt="Tadpole Logo" class="client-logo"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5f425d28a154506036aff2a1_WP_LOGO_410x.png"
              alt="Wolf Project Logo" class="client-logo _40h"></div>
          <div class="flex-center"><img
              src="5e669721cbb0937940bd12d8/5e66989c52519b48380d5a73_Primary%20Dark%20Grey%20PNG.png"
              alt="The Natural Edition Logo" class="client-logo _30h"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5f42600337dae204f5cf6036_Upwrap-Logo.jpg"
              width="40" alt="Upwrap" class="client-logo"></div>
          <div class="flex-center"><img src="5e669721cbb0937940bd12d8/5f425fee1dfc0635eaf27b0d_Future-Living-logo.png"
              height="40" alt="Future Living Store" sizes="(max-width: 479px) 100vw, 164.484375px"
              srcset="5e669721cbb0937940bd12d8/5f425fee1dfc0635eaf27b0d_Future-Living-logo-p-500.png 500w, 5e669721cbb0937940bd12d8/5f425fee1dfc0635eaf27b0d_Future-Living-logo.png 1024w"
              class="client-logo _40h"></div>
          <div class="flex-center"><img
              src="5e669721cbb0937940bd12d8/5e66989c0458281fa18a914c_geekstore-logo-black.png" alt="Geekstore Logo"
              class="client-logo _18h"></div>
        </div>
        <div data-w-id="8603ea43-2461-66d3-e7e1-eb0d8557bdef" style="opacity:0" class="flex-center vert">
          <div class="line"></div>
          <h3 class="heading3 center no-top-padding">What They Say</h3>
          <div data-delay="7000" data-animation="slide" class="slider w-slider" data-autoplay="true"
            data-easing="ease-out-cubic" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
            data-nav-spacing="7" data-duration="1000" data-infinite="true">
            <div class="w-slider-mask">
              <div class="slide w-slide">
                <div class="text18 center">&quot;Storee is HIGHLY recommended. I launched Wolf Project with them and
                  kept on evolving the website together. They are responsive, effective, wonderful designers, up to
                  speed on the latest Shopify trends. A+ on everything!&quot;</div>
                <div class="testimonial-name-holder">
                  <div class="text16">Francesco,</div>
                  <div class="testimonial-title-wrapper"><img
                      src="5e669721cbb0937940bd12d8/5e66989b0458283be98a914b_credentials%20name%20bg.svg" width="162"
                      alt="Line" class="credential-bg">
                    <div class="text-16">Wolf Project</div>
                  </div>
                </div>
              </div>
              <div class="slide w-slide">
                <div class="text18 center">&quot;I love working with Storee Studio. Over the years Emile has created
                  the most beautiful designs for Dashel, for all aspects of our marketing. She is commercial too: Our
                  recent website re-design was carried out on time and on budget. I&#x27;d recommend them
                  highly.&quot;</div>
                <div class="testimonial-name-holder">
                  <div class="text16">Catherine,</div>
                  <div class="testimonial-title-wrapper"><img
                      src="5e669721cbb0937940bd12d8/5e66989b0458283be98a914b_credentials%20name%20bg.svg" alt="Line"
                      class="credential-bg">
                    <div class="text-16">Dashel</div>
                  </div>
                </div>
              </div>
              <div class="slide w-slide">
                <div class="text18 center">Emile is without a doubt the best designer I’ve ever worked with. We have
                  actually become friends and I find her not only extraordinarily talented, but focused, professional
                  and able to understand and implement what I need quickly....&quot;</div>
                <div class="testimonial-name-holder">
                  <div class="text16">Andy, </div>
                  <div class="testimonial-title-wrapper"><img
                      src="5e669721cbb0937940bd12d8/5e66989b0458283be98a914b_credentials%20name%20bg.svg" alt="Line"
                      class="credential-bg">
                    <div class="text-16">Tadpole Adaptive</div>
                  </div>
                </div>
              </div>
              <div class="slide w-slide">
                <div class="text18 center">&quot;I cannot recommend Storee Studio highly enough.  I worked with Emile
                  to launch Loskey at the end of 2018.  Not only is she extremely knowledgable in Shopify, but she
                  also has an excellent design aesthetic...&quot;</div>
                <div class="testimonial-name-holder">
                  <div class="text16">Lori,</div>
                  <div class="testimonial-title-wrapper"><img
                      src="5e669721cbb0937940bd12d8/5e66989b0458283be98a914b_credentials%20name%20bg.svg" alt="Line"
                      class="credential-bg">
                    <div class="text-16">Loskey</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="left-arrow w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav w-slider-nav w-round"></div>
            <div class="w-embed">
              <style>
                .w-slider-dot {
                  height: 9px;
                  width: 9px;
                  background-color: #fff;
                  border-radius: 50%;
                  border: 1px solid #000;
                }

                .w-slider-dot.w-active {
                  padding: 5px;
                  background: #000;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>